<%- include('../layout/layout') %>
<link rel="stylesheet" href="../public/stylesheets/style.css">
<title>Admin Panel</title>
<header>
        <nav class="navbar navbar-expand-lg navbar-light "  >
            <img src="https://www.cadbury.co.uk/~/media/cadburydev/uk/images/common/logo.png " class="ml-5" alt="">
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto ml-5">
                <li class="nav-item active  ">
                  <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Products</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link  text-white" href="#">Users</a>
                </li>
              </ul>    
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 text-white" type="submit">Search</button>
              </form>
              <div class="dropdown mx-5">
                <button class="btn btn-secondary dropdown-toggle btn-outline-dark text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </button>
                  <div class="dropdown-menu bg-transparent border-0 " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item bg-transparent text-white " href="/admin/logout"><button class="btn btn-outline-dark "> Logout</a></button>     
                </div>
              </div>
            </div>
          </nav>
</header>
