<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
  />
  <script src="https://kit.fontawesome.com/cf7ddd216a.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid ">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #d4d7da; box-shadow: #2a3035;" >
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/admin" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Admin</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu" style="margin-top:200px; position: fixed;margin-left: 5px;">
            <li class="nav-item">
              <a href="/admin/dashboard" class="nav-link align-middle px-0">
                <img src="/images/dashboard.png" alt="" style="width:28px;height: auto" /><span
                  class="ms-2 d-none d-sm-inline text-black" style="font-size:17px;">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/admin/orders" class="nav-link px-0 align-middle">
                <img src="/images/orders-icon.png" alt="" style="width: 28px;height: auto;" />
                <span class="ms-1 d-none d-sm-inline text-black" style="font-size:17px;">Order</span>
              </a>
            </li>
            <li>
              <a href="/admin/category" class="nav-link px-0 align-middle">
                <img src="/images/category-png.webp" alt="" style="width: 28px;height: auto;" />
                <span class="ms-1 d-none d-sm-inline text-black" style="font-size:17px;">category</span>
              </a>
            </li>
            <li>
              <a href="/admin/productDetails" class="nav-link px-0 align-middle">
                <img src="/images/shop-products.png" alt="" style="width: 28px;height: auto;" /><span
                  class="ms-2 d-none d-sm-inline text-black" style="font-size:17px;">Products</span></a>
            </li>
            <li>
              <a href="/admin/addProduct" class="nav-link px-0 align-middle">
                <img src="/images/add-product-6374926-5332246.png" alt="" style="width: 28px;height: auto;" />
                <span class="ms-1 d-none d-sm-inline text-black" style="font-size:17px;">Add Products</span></a>
            </li>
            <li>
              <a href="/admin/userDetails" class="nav-link px-0 align-middle">
                <img src="/images/users-icon.png" alt="" style="width: 28px;height: auto" />
                <span class="ms-1 d-none d-sm-inline text-black" style="font-size:17px;">Users</span>
              </a>
            </li>
            <li class="" style="margin-top: 200px;">
              <a href="/admin/logout" class="nav-link px-0 align-middle">
                <img src="/images/logout-.jpg" alt="" style="width: 28px;height: auto;" />
                <span class="ms-1 d-none d-sm-inline text-black" style="font-size:15px;">Logout</span>
              </a>
            </li>
          </ul>
          <hr />
        </div>
      </div>





    






