<%- include('../layout/layout') %>
<link rel="stylesheet" href="/public/stylesheets/u-footer.css">


<section class="news pt-5">
  <div class="container-fluid pt-3 text-white">
    <div class="row">
      <div class="col-lg-11 m-auto">
        <div class="row">
          <div class="col-lg-2">
            <h3 class="pb-3">Category</h3>
            <p class="m-0"><a href="#">Cake</a></p>
            <p class="m-0"><a href="#">Cup Cake</a></p>
            <p class="m-0"><a href="#">Dessert</a></p>
            <p class="m-0"><a href="#">Gifts</a></p>
          </div>

          <div class="col-lg-2">
            <h3 class="pb-3">Company</h3>
            <p class="m-0"><a href="#">About</a></p>
            <p class="m-0"><a href="#">New's</a></p>
            <p class="m-0"><a href="#">FAQ's</a></p>
            <p class="m-0"><a href="#">Contact</a></p>
          </div>

          <div class="col-lg-3">
            <h3 class="pb-3">Address</h3>
            <p>200, pariyapuram,Malappuram <br>
              +10 456 267 1623
            </p>
           <a href=""> Contact@Cake.Com</a>
          </div>
<div class="col-lg-5">
  <h3 class="pb-3">Newsletter</h3>

     <form action="" class="d-flex">
      <input type="text " class="sub p-3" placeholder="Your Email">
      <button class="btns">Subscribe</button>
     </form>
     <div class="icon d-flex text-center pt-5">
      <div class="circle p-2">
        <i class="fab fa-facebook-f"></i>
      </div>

      <div class="circle p-2 mx-3">
        <i class="fab fa-twitter"></i>
      </div>

      <div class="circle p-2">
        <i class="fab fa-instagram"></i>
      </div>

     </div>

</div>

        </div>
<hr>
<p class="text-center pb-3 copy">Copyright Ⓒ2022 All rights reserved | This Website is made by Rifaee</p>
      </div>
    </div>
  </div>
</section>



