
    <%- include('../layout/layout') %>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Choco world</title>
    <header>
            <nav class="navbar navbar-expand-lg navbar-light "  >
                <img src="https://www.cadbury.co.uk/~/media/cadburydev/uk/images/common/logo.png " class="ml-5" alt="">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto ml-5">
                    <li class="nav-item active  ">
                      <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#">Contact Us</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link  text-white" href="/shop">Shop</a>
                    </li>   
                 
                    <!-- <li class="nav-item ">    -->
                      <!-- <a href="/cart"  class="nav-link text-white"><i class="fas fa-shopping-cart"></i> -->
                      <!-- </li> -->
                  </ul>  
                 
                  <form class="form-inline my-2 my-lg-0"  >
                    <input class="form-control mr-sm-2 border-0" type="search" placeholder="Search" aria-label="Search" style="height:4vh ;">
                    <a type="submit"><i class="fa fa-search text-white"  aria-hidden="true" ></i></a>
                    <!-- <button class="btn btn-outline-dark my-2 my-sm-0 text-white" type="submit">Search</button> -->
                  </form>
                 
                  <a href="/viewCart"> <i class="fa fa-shopping-cart text-white ml-2" aria-hidden="true"> </i></a>
                  <div class="dropdown mx-5">
                    <button class="btn btn-secondary dropdown-toggle btn-outline-dark text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account
                    </button>
                    <% if(customer) { %>
                      <div class="dropdown-menu bg-transparent border-0 " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item bg-transparent text-white " href="/logout"><button class="btn btn-outline-dark "> Logout</a></button>     
                    </div>
                    <%} else { %>
                    <div class="dropdown-menu bg-transparent border-0 " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item bg-transparent text-white " href="/login"><button class="btn btn-outline-dark "> Login</a></button>
                      </div>
                    <% } %>
                  </div>
                </div>
              </nav>
    </header>
    