
<%- include('../partials/user-header')%>
<!-- end header -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1>Change password</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="container mt-5 w-25 border mb-5 ">
    <form action="/postChangePassword" method="post" id="form">
        <div class="d-flex justify-content-center mt-3">
            <h4>Change password</h4>
        </div>
      <% if (locals.invalid) { %>
            <p class="text-white alert bg-danger text-center">
               <%= invalid %> 
            </p>
            <% } %>
        <div class="form-outline flex-fill mb-0 mt-3">
            <input type="text" required placeholder="Current password" name="currentPassword" id="currentPassword"
                class="form-control" />
          
        </div>
        <div class="form-outline flex-fill mb-0 mt-5">
            <input type="password" required placeholder="Enter new password" name="newPassword" id="newPassword"
                class="form-control" />
                <div class="text-danger" id="passworderror"></div>
        </div>
        <div class="form-outline flex-fill mb-0 mt-5">
            <input type="password" required placeholder="Confirm new password" name="conNewPassword"
                id="conNewPassword" class="form-control" />
                <div class="text-danger" id="conpassworderror"></div>
        </div>

        <div class="d-flex justify-content-center mt-5 ">
            <button type="submit" class="btn btn-success  mb-4">Submit</button>
        </div>

    </form>
</div>




<!-- footer -->
<%- include('../partials/user-footer')%>
    <!-- end footer -->

    <script src="/public/js/chgPassValid.js"></script>

   

        

    </body>

    </html>