
<%- include('../layout/layout') %>

<section class="d-flex mt-5" style="justify-content: center;">
    <div class="card text-center" style="width: 350px; ">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            
            <% if (locals.invalid) { %> 
                <p class="alert bg-light text-danger" style="border-style:dashed;border-color: brown;"><%= invalid %> </p>
            <% }else{ %>
           
                <h5> Enter your Password </h5>
                <p class="card-text py-2">
                  choose the strong password for your safty
                </p>       
                <% } %> 
            
            <form action="/forgot-new-password" method="post">
            <div class="form-outline">
               <input type="hidden" name="email" value="<%=email%>">
                <input type="password" id="password" placeholder="Enter new password" name="password" class="form-control my-3" required/>
                <input type="password" id="conPassword" placeholder="Confirm new password" name="conPassword" class="form-control my-3" required/>
               
            </div>
           <button type="submit" class="btn btn-primary w-100">Reset password</button>
        </form>
       
        </div>
    </div>
    </section>