
   <%- include('../layout/layout') %>
<section class="d-flex mt-5" style="justify-content: center;">
<div class="card text-center" style="width: 300px; ">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <% if (locals.invalid) { %> 
            <p class="alert bg-light text-danger" style="border-style:dashed;border-color: brown;"><%= invalid %> </p>
        <% }else{ %>
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>       
            <% } %> 
        
        <form action="/post-forgot-password" method="post">
        <div class="form-outline">
            <input type="email" id="typeEmail" placeholder="Enter your email" name="email" class="form-control my-3" required/>
           
        </div>
       <button type="submit" class="btn btn-primary w-100">Generate otp</button>
    </form>
       
    </div>
</div>
</section>