
 <%- include('../layout/layout') %>
 <section class="d-flex mt-5" style="justify-content: center;">
 <div class="card text-center" style="width: 350px; ">
     <div class="card-header h5 text-white bg-primary">Password Reset</div>
     <div class="card-body px-5">
         <% if (locals.invalid) { %> 
             <p class="alert bg-light text-danger" style="border-style:dashed;border-color: brown;"><%= invalid %> </p>
         <% }else{ %>
             <h5> Enter your otp </h5>
             <p class="card-text py-2">
                we'll send you a four digit otp
             </p>       
             <% } %> 
         
         <form action="/post-forgot-otp" method="post">
         <div class="form-outline">
            <input type="hidden" name="email" value="<%=email%>">
             <input type="number" id="otp-reset" placeholder="Enter your otp" name="otp" class="form-control my-3" required/>
             <!-- <label class="form-label "  for="typeotp">Otp input</label> -->
         </div>
        <button type="submit" class="btn btn-primary w-100">Confirm</button>
     </form>
        
     </div>
 </div>
 </section>