<%- include('../partials/user-header') %>
<div class="breadcrumb-section breadcrumb-bg"style="margin-top: 140px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    
                    <h1>THANKS FOR YOUR ORDER</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<div  class=" mt-100  d-flex justify-content-center">
    <p  class="text-success" style="font-size:30px" >Your Order has been placed</p>
</div>

<div  class=" d-flex justify-content-center">
<img src="/images/order-success.png" height="300px" width="350px" alt="">
</div>

<div class="mt-1  mb-100 d-flex justify-content-center">
    <a class="btn btn-secondary" href="/orderDetails">view Orders</a>

</div>
