<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">

                    <h1>Your wish list</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


<!-- wishlist -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
      
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove">Remove</th>
                                <th class="product-image">Product Image</th>
                                <th class="product-name">Name</th>
                                <th class="product-price">Price/kg</th>
                                <th class="product-quantity">Add to cart</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr class="table-body-row">
                                    <td class="product-remove"><button
                                            onclick=""><i
                                                class="far fa-window-close"></i></button>
                                    </td>
                                    <td class="product-image"><img
                                            src="" alt="">
                                    </td>
                                    <td class="product-name">
                                       laptop
                                    </td>
                                    <td class="product-price">
                                        ₹ 100
                                    </td>
                                    <td class="product-quantity">
                                        <a class="bt btn-warning" href="/cart">Add to cart</a>
                                        
                                    </td>
                                </tr>
                                
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="total-section">
                    <img src="assets/img/latest-news/news-bg-3.jpg" alt="">
                    <img class="mt-2" src="assets/img/latest-news/news-bg-2.jpg" alt="">
                </div>
            </div>
        </div>
        
          
            
       
    </div>
</div>
<!-- end wishlist -->




<!-- footer -->
<%- include('../partials/user-footer')%>
   
   
    
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>




    </body>

    </html>
