*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.news{
    background: black;
    font-family: 'prompt' , 'sans-serif';
}
.news a{
    /* text-decoration: none; */
    color: white;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    
}
.news a:hover{
    color: rgb(238, 11, 105); 
    padding-left: 5px;
   
}
.btns{
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
    background: white;
    color: rgb(238, 11, 105);
    font-weight: bold;
}
.sub{
    height: 50px;
    width: 70%;
    background: transparent;
    outline: none;
    border: 1px solid white;
    color: white;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color:white ;
    background: rgb(53, 49, 49);
    font-size: 1.3rem;
    transition: all 0.4s;
}
.circle:hover{
    background: white;
    color: rgb(53, 49, 49);
}

.copy{
    color: rgb(53, 49, 49);
    
}