*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btnc{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 53px;
    width: 40%;
    color: black;
    border: none;
    outline: none;
    background: white;
    cursor: all 0.4s;
}
.btnc:hover{
    background: rgb(238, 11, 105);
    color: white;
    transition: all 0.4s;
}
.zoom-n-rotate{
    border-radius: 0;
    outline: none;
    overflow: hidden;
}

.zoom-n-rotate img{
    transition: transform .5s ease-in-out;
}
.zoom-n-rotate:hover img{
    transform: scale(1.5);
}
/* ----------- */

.product h1{
    font-weight: 800;
    font-size: 2.6rem;
}

.product{
    background: rgb(246, 243, 243);
}
.discount{
    height: 50px;
    width: 50px;
    background: rgb(238, 11, 105);
    border-radius: 50%;
    padding: 12px 5px;
    color: white;
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
}

/* ------- */

.iconic p{
    text-align: justify;
    font-family: 'prompt' , 'sans-serif';
}

.icone{
 color:  rgb(238, 11, 105);
   font-size: 2.5rem;

}